<!doctype html>
<html>
<head>
    <title>New Student Form </title>
</head>

<body>

  <form action="/student-add" method="POST">
      <label> Enter First Name 
          <input type="text" name="first_name">
      </label><br>
      <label> Enter Last Name 
          <input type="text" name="last_name">
      </label><br>
      <label> Enter Github Account
          <input type="text" name="github">
      </label><br>
      <input type="submit" value="Add New Student">
  </form>

</body>
</html>